apiVersion: batch/v1
kind: Job
metadata:
  name: grant-permissions
  namespace: dotstat
spec:
  backoffLimit: 2
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: grant-permissions
          image: mcr.microsoft.com/mssql/server:2022-latest
          command: ["/opt/mssql-tools18/bin/sqlcmd", "-S", "sqlserver", "-U", "sa", "-P", "P@ssw0rd!", "-Q", "USE [dotstat-mapping]; ALTER ROLE db_ddladmin ADD MEMBER [mapping];"]
          env:
            - name: ACCEPT_EULA
              value: "Y"
